/data
/.ipynb_checkpoints
.netrc
/literatuur
*.pdf
*.html
/code/.idea
/code/SelectCoords/.idea
/code/__pycache__
/code/phd
/code/testdata
/code/downloadxmllinks.csv
/code/downloadlinks.txt
/code/xmltodo.csv